/* Copied from bluemarine theme of drupal */
/* Images from plone main theme */

body {
  margin: 1em;
  padding: 0;
  color: #000;
  background-color: #fff;
  font: 76% Verdana, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1.3em;
  margin: 0.5em;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:link {
  color: #39c;
  text-decoration: underline;
}
a:visited {
  color: #369;
  text-decoration: underline;
}

li {
  list-style: none;
}

.keyringoptions {
  padding-top: 1.3em;
  padding-left: 3.2em;
}

.bodykeyring {
  padding-top: 1.3em;
}

.addkey{
  padding-top: 1.3em;
  padding-bottom: 1.3em;
}

.formaddkey, .capchaaddkey{
  float: left;
}

.keyring {
  background: url(keyring_icon.gif) center left no-repeat;
  padding-left: 18px;
}

.download {
  background: url(save_icon.gif) center left no-repeat;
  padding-left: 18px;
}

.print {
  background: url(print_icon.gif) center left no-repeat;
  padding-left: 18px;
}

.mail {
  background: url(mail_icon.gif) center left no-repeat;
  padding-left: 18px;
}

.pubname {
  background: url(user_icon.gif) center left no-repeat;
  padding-left: 18px;
  font-weight: bold;
}

a.pubname:hover {
  background: url(save_icon.gif) center left no-repeat;
}

.sub, .uid {
  font-style: italic;
}

.subname, .uidname {
  font-weight: bold;
}

.rev, .exp {
  text-decoration: line-through;
}

.info {
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
  font-style: italic;
}

.footer {
  margin: 0% 12% 0% 12%;
  padding-top: 1em;
  border-top: 1px solid #000000;
  text-align: center;
  font-style: italic;
  font-size: 0.9em;
}

.clear {
  clear: both;
  display: block;
}
