/* Copied from bluemarine theme of drupal */
/* Images from plone main theme */

body {
  margin: 1em;
  padding: 0;
  color: #000;
  background-color: #fff;
  font: 76% Verdana, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1.3em;
  margin: 0.5em;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:link {
  color: #39c;
  text-decoration: underline;
}
a:visited {
  color: #369;
  text-decoration: underline;
}

li {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

ul, .keyringoptions, .info, .error, .addkey{
  margin-left: 0px;
  padding-left: 4em;
}

.keyringoptions {
  padding-top: 1.3em;
}

.bodykeyrings {
  left: 200px;
  padding-top: 1.3em;
}

.addkey{
  padding-top: 1.3em;
  padding-bottom: 1.3em;
}

.formaddkey{
  float: left;
}

.capchaaddkey{
  float: left;
  padding-top: 1em;
  padding-left: 1.3em;
}

.keyring {
  background: url(keyring_icon.gif) center left no-repeat;
  padding-left: 18px;
}

.graph {
  background: url(graphviz_icon.png) center left no-repeat;
  padding-left: 18px;
}

.download {
  background: url(save_icon.gif) center left no-repeat;
  padding-left: 18px;
}

.print {
  background: url(print_icon.gif) center left no-repeat;
  text-indent: 80px;
  padding-left: 18px;
}

.mail {
  background: url(mail_icon.gif) center left no-repeat;
  padding-left: 18px;
}

.pubname {
  background: url(user_icon.gif) center left no-repeat;
  padding-left: 20px;
  font-weight: bold;
}

a.pubname:hover {
  background: url(save_icon.gif) center left no-repeat;
}

.pub {
  text-indent: 20px;
  font-style: Bold;
}

.sub, .uid {
  text-indent: 30px;
  font-style: bold;
}

.sig {
  text-indent: 40px;
  font-style: italic;
}

.subname, .uidname {
  font-weight: bold;
}

.signame {
  text-indent: 80px;
  font-weight: bold;
  color: Maroon;
}

.rev, .exp {
  text-decoration: line-through;
}

.info {
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
  font-style: italic;
}

.footer {
  margin: 0% 12% 0% 12%;
  padding-top: 1em;
  border-top: 1px solid #000000;
  text-align: center;
  font-style: italic;
  font-size: 0.9em;
}

.clear {
  clear: both;
  display: block;
}

.login{
  color: black;
  text-decoration: BOLD;
  font-size: 1.1em;
  position:fixed;
  top:5px;
  right:5px;
}

.managehead{
  font-size: 1.1em;
  position:fixed;
  top:5px;
  left:5px;
}

.manage{
  font-size: 1.0em;
  position:fixed;
  top:10px;
  left:200px;
}

.exitbutton{
  font-size: 1.0em;
  position:fixed;
  top:200px;
  left:400px;
}

.buttons {
  position:fixed;
  top:2px;
  right:5px;
}

.loginerror {
  color: red;
  font-weight: bold;
  font-style: italic;
  position:fixed;
  top:60px;
  right:100px;
  }

